.main

  .main__header
    .main__header__left-box
      .main__header__left-box__current-group
        ひこうタイプ 集まれ！！
      .main__header__left-box__message
        Menber :
        .main__header__left-box__message__list
          mirai
    .main__header__edit-btn
      Edit

  .main__messages
    .main__messages__message
      .main__messages__message__upper-info
        .main__messages__message__upper-info__talker
          mirai
        .main__messages__message__upper-info__date
          2020/01/23(Thu) 20:05:24
      .main__messages__message__text
        君は何タイプ？

  .main__form
    .main__form__new-message
      .main__form__new-message__input-box
        .main__form__new-message__input-box__text
          入力してね!!
        .main__form__new-message__input-box__image
          %i.far.fa-image
      .main__form__new-message__submit-btn
        送る